.sidebar {
  background-color:#002a42;
}

.sidebar.open {
  flex: 5;
}

.sidebar.closed {
  flex: 1;
}

.toggle-button {
  background: none;
  border: none;
  color: #e1cece;
  font-size: 20px;
  cursor: pointer;
}


.nav.navItem :hover{
  background-color: #e1cece;
}

.MyNav Link .open{
  display: inline-flex;
}

.MyNav Link .closed{
  display:none;
}

.sidebarcollapsed{
display: none;
}

.myTogleElement{
  margin-top: auto;
  margin-bottom: auto;
}

.vcenter-item{
        display: flex;
        align-items: center;
    }