.content{
    display: flex;
    flex-flow:column wrap;
    justify-content: center;
    padding-left: 180px;
    margin-top: 120px;
    word-spacing: 2px;
  }
  
  img{
    width: 90%;
    height: 400px;
  }